
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .traffic-top {
    width: 20px;
    height: 100px;
    background-color: black;
  }
  .traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
  }
  
  .light {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: grey;
    transition: background-color 0.3s;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: rgb(11, 239, 11);
  }
  
  .glow-red {
    box-shadow: 0 0 40px 5px red;
  }
  
  .glow-yellow {
    box-shadow: 0 0 40px 5px yellow;
  }
  
  .glow-green {
    box-shadow: 0 0 40px 5px rgb(11, 239, 11);
  }
  
  .buttonGroup {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .button {
    margin-top: 10px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 5px;
  
  }